* {
  background: linear-gradient(rgb(255,0,0), rgb(255,255,0), rgb(0,0,255));
  animation-name: test;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes test {
  %0 {
  filter: hue-rotate(0deg);
  }
  %100 {
  filter: hue-rotate(360deg);
  }
}
